<!doctype html>
<html ng-app="myApp"> 
    
<head>
    <title>User Login and Sessions</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
        
<body>  
    <div ng-controller="myController">
        <h2 id="welcomeText">Welcome
            <%= username %>. Enter a new note to get started!
        </h2>
		<div>
			<button id="logoutLink" href="/logout">logout</button>
			<!--<a id="editLink" href="/user">Edit User</a>-->
		</div>
		<hr>
		<textarea rows="4" cols="50">
			This is an example note
		</textarea>
    </div>
    <hr>
    <span id="indexMsg">
		Notes:
		<%= msg %>
    </span>
	<div>
		<button id="addNoteLink" href="/addNote">Add Note</button>
	</div>
    <hr>
    <span id="colorText">
    Color
        <%= color %>
      </span>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
</body>
      
</html>
